.carre
{
    height: 100px;
    width: 100px;
    margin:0;
}

.red   {  background-color: red;    flex-shrink: 2;
}
.green {  background-color: green;}
.yellow{ background-color: yellow;}
.blue  { background-color: blue;}
.containeur
 {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    border: 5px orange solid;
   justify-content: space-between;
   align-items: center;
   flex-shrink: 1;
   
}