@media only screen and (max-width: 480px)
{

	

	.mob { width : 100%;box-sizing: border-box; padding: 0; margin: 0; float: left; }
}



@media only screen and (min-width: 481px) and (max-width: 800px)
{

	

	.tab { width : 100%;box-sizing: border-box; padding: 0; margin: 0; float: left; }
}


@media only screen and (min-width: 801px) and (max-width: 1024px)
{

	.dsk { width : 50%; box-sizing: border-box; padding: 0; margin: 0;  float: left; }
	
}

.photo
{ 
    border-style: solid; 
    align-content: left;
  }
  .menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}

  .perso
{ 
    border-style: solid; 
    align-content: right;
    border-width: 10px;
  }
  p  {
      width: 50%;
  }
 .one {
    border-style: solid;
    border-width: 5px;
}
