.catalog
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.product
{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.product img
{
    width: 50%;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
